    /* Universal Styles */
    body {
        font-family: Arial, sans-serif;
      }
    
      /* Color Themes */
      #main {
        background-color: #212f45;
      }
    
      #experience, #contact {
        background-color: #4d194d;
        color: white;
      }
    
      #about {
        background-color: #006466;
        color: white;
      }
    
      #projects {
        background-color: #1b3a4b;
        color: white;
      }
    
      /* Navbar Styles */
      nav {
        background-color: #212f45;
      }
    
      .navbar-brand, .nav-link {
        color: white !important;
      }
    
      /* Footer Styles */
      footer {
        background-color: #1b3a4b;
        color: white;
      }
    
      /* Card Styling */
      .card {
        background-color: #fff;
        border: none;
      }
    
      .card-title, .card-text {
        color: #212f45;
      }