@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    @apply max-w-[90%] w-[1080px] mx-auto
    bg-black
    overflow-x: hidden;
    
} */

body {
    @apply max-w-[68rem] w-[95vw] mx-auto;
    background: #4D4846;
    /* overflow-x: hidden; */
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.animated-gradient {
    background: linear-gradient(270deg, #E1E2E2, #9c9e9e);
    background-size: 400% 400%;
    animation: gradientAnimation 7s ease infinite;
}


.animated-gradient-text {
  background: linear-gradient(270deg, #323232, #5C5C5C);
  background-size: 400% 400%;
  animation: gradientAnimation 7s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; 
}

@supports not (-webkit-background-clip: text) {
  .animated-gradient-text {
    color: #F8D926; /* Fallback color */
  }
}

.custom-list {
  list-style-type: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
}

.custom-list li:not(:last-child) {
  border-bottom: 1px solid #2a2b2c; /* Light gray border color */
  padding-bottom: 0.5em; /* Space between text and border */
}
